@charset "utf-8";
/* CSS Document */
body {
color:whitesmoke;
background-color:#1b191a;
height: auto;
width: auto ;
background-size: 100% auto;
position: relative;
}

#menu {
	position: relative;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	width: 1050px;
	background-color: #1b191a ;
	border-radius: 10px;
}

#menu li {
	display: inline;
	list-style: none;
}

#menu a {
	display: inline-block;
	margin: 0 10px;
	color: whitesmoke;
}

#bio, #pro {
    display: inline-block;
    vertical-align: top;
	margin: auto;
}
#bio {
	float: left;
    width:50%;
	
}

#pro {
	float: right;
    width: 50%;
}
